.floor-select{
    padding: 20px;
    display: flex;
}

.floor{
    color: white;
    background: black;
    border: grey 2px solid;
    padding: 20px;
    font-size: 1.4em;
}

.left{
    border-radius: 15px 0 0 15px;
}

.right{
    border-radius: 0 15px 15px 0;
}