.box-border{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 360px;
    background: #ffffff;
    padding: 10px 30px 20px 30px;
    margin-top: 20px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 4px;
    z-index: 1;
    position: fixed;
    top: 40%; left: auto;
}

button{
    background-color: rgb(200,0,0);
    border: none;
    color: white;
    padding: 10px 24px;
    text-decoration: none;
    cursor: pointer;
    font-size: 1em;
    border-radius: 4px;
    outline: none;
    margin: 5px;
}

button:hover{
    background: rgb(180,0,0);
}

button:active{
    background: rgb(170,0,0);
}