.room-page{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.floor-select{
    margin-top: 50px;
}

.room-list{
    margin-top: 50px;
    width: 60%;
}