.container{
    display: flex;
    justify-content: center;
}

.box-border{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 360px;
    background: #ffffff;
    padding: 20px 50px 40px 50px;
    margin-top: 50px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 4px;
    z-index: 1;
}

.title{
    margin-top: 0;
}

/* Styles the form holding the inputs */
.sign-log{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 360px;
    width: 100%;
}

/* Styling the input text fields */
.entry{
    outline: 0;
    background: #f2f2f2;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.hold-group{
    display: flex;
    flex-direction: row;
}

.entry-group{
    flex: 1;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.submit{
    background-color: rgb(200,0,0);
    border: none;
    color: white;
    padding: 10px 24px;
    text-decoration: none;
    cursor: pointer;
    font-size: 1.2em;
    width: 80%;
    border-radius: 4px;
    outline: none;
}

.submit:hover{
    background: rgb(180,0,0);
}

.submit:active{
    background: rgb(170,0,0);
}

p a{
    text-decoration: underline;
    color: #0296ff;
}